
{% extends 'base.html' %}

{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}

{% load socialaccount %}
{% load crispy_forms_tags %}


{% block main %}

<div class="container w-50 h-100 py-5">
        <div class="card">
            <div class="card-header">
                <h5 id="form-title">Remove User</h5>
            </div>
			<div class="card-header">
                <div class="container w-75 h-100 py-5">
                    <div class="d-flex justify-content-center">
                        Removing user from project: <strong>{{project}}</strong>
                    </div>
                    <p></p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center">
                         Removing user with email: {{email}}
                        </div>
                        <hr>
                        <div class="card-group">
                            <div class="card border-0">
                                <div class="card-header">
                                    <a class="btn btm-sm btn-secondary" href="{% url 'project_detail' project_url %} ">Cancel</a>
                                </div>
                            </div>
                            <div class="card border-0">
                                <div class="card-header">
                                    <button type="submit" class="btn btn-info btn-block" aria-label="Left Align">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
</div>         


    
{% endblock %} 