
{% extends 'base.html' %}

{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}

{% load socialaccount %}
{% load crispy_forms_tags %}


{% block main %}

<div class="container w-50 h-100 py-5">
        <div class="card">
			<div class="card-header">
                <div class="container w-75 h-100 py-5">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">Log In</h3>
                    </div>
                    <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-secondary btn-block" aria-label="Left Align">
                        Sign In!
                     </button>
                    </form>
                </div>
            </div>        
            <div class="card-footer">
                <a href="{% url 'account_signup' %}">
                    <button class="btn btn-info btn-block" aria-label="Left Align">
                        No Accounts? Sign Up!
                     </button>
                </a>
            </div>
        </div>
</div>         


    
{% endblock %} 