{% extends 'base.html' %}

{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% load socialaccount %}
{% load crispy_forms_tags %}


{% block main %}


<div class="container w-50 h-100 py-5">
    <div class="card">
        <div class="card-header">
            <div class="container w-75 h-100">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">Change Your Password</h3>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}