html {
  font-size: 14px;
}
body {
    background-color: #F8F7F8 !important;
  }

.card-header {
    background-color: rgba(169, 180, 211, 0.36) !important;
}
.newtextlightest {
    color: #E9E8DE !important;
}
.newtextlightest {
    color: #E9E8DE !important;
}
a.newtextlightest > a:active {
    color: #ebeae0 !important;
}


.newtextlight {
    color: #8FA2AE !important;
}
.newtextmedium {
    color: #5B6382 !important;
}
.newtextdark {
    color: #648AA6 !important;
}
.newtextverydark {
    color: #25292A !important;
    
}

.w-7 {
    width: 7.333%;
  }
  
  .w-15 {
    width: 15%;
  }