<!-- Footer -->

  
<hr style='margin-bottom:0' >
<footer class="small text-light pt-4" style="background-color: #25292A">

  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row -->
    <div class="row justify-content-center">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5>About</h5>
        <p>THE PROTOTYPE APP: This platform is part of the mentoring and engineer development effort of BeyondMachines. </p>
        <p>Source is available here:  <a href="https://github.com/spirovskib/proto_app">https://github.com/spirovskib/proto_app</a> </p>
        <hr>
        <p>This platform serves as a basis for different educational scenarios - from basic application use, via workflow exercising and into complex business processes.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">More to come</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <p>This is just the first version, more will be developed</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.beyondmachines.net/blog/mentor-thoughts-keys-to-good-mentoring-and-how-we-work">Keys to good mentoring</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.beyondmachines.net/"> BeyondMachines.net</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->