{% extends 'base.html' %}


{% block main %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
                <div class="card-header">
                    Current Projects
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                            <tr>
                                <th>Project Title</th>
                                <th>Project Details</th>
                                <th>View Project</th>
                            </tr>
                            {% for i in projects %}
                            <tr>
                                <td><a href="{% url 'project_detail' i.project_url %}">{{i.project_name}}</a></td>
                                <td>{{i.project}}</td>
                                <td><a class="btn btm-sm btn-info" href="{% url 'project_detail' i.project_url %}">View Project</a></td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
        </div>

    </div>
</div>
{% endblock %}