{% extends 'base.html' %}



{% block main %}

<div class="row mb-2">
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header">
                <h5>{{project.project_name}}</h5>
            </div>
            <div class="card-body">
                <p>{{project.project_intro | safe }}</p>
            </div>      
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <strong>Project Users</strong>
                    </div>
                    <div class="col-md-5 float-right">
                        <a class="btn btm-sm btn-info" href="{% url 'add_user_project' project.project_url %}">Add Users</a>
                     </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                        <tr>
                            <th class="w-25">User Name</th>
                            <th class="w-50">User Email</th>
                            <th class="w-25">Action</th>
                        </tr>
                        {% for queryset in users_in_group %}
                            {% for i in queryset %}
                            <tr>
                                <td>{{i.profile.name}}</td>
                                <td>{{i.email}}</td>
                                <td><a class="btn btm-sm btn-danger" href="{% url 'delete_user_project' project.project_url i.email %}">Remove</a></td>

                            </tr>
                            {% endfor %}
                        {% endfor %}
                </table>            
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <strong>Current Posts</strong>
                    </div>
                    <div class="col-md-2 float-right">
                        <a class="btn btm-sm btn-info" href="{% url 'new_post' project.project_url %}">New Post</a>
                     </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th class="w-15">Post Title</th>
                        <th class="w-auto">Post Details</th>
                        <th class="w-25">Post Image</th>
                        <th class="w-15">Post Attachment</th>
                    </tr>
                    {% for i in posts %}
                        <tr>
                            <td><a href="{% url 'view_post' i.post_url %}">{{i.post_title}}</a></td>
                            <td>{{i.post_details|safe|truncatewords:5|truncatechars:50}}</td>
                            {% if i.post_image_1 %}
                                <td><img src="{{i.post_image_1.url}}" class="img-fluid"></td>
                            {% else %}
                                <td>No Image Uploaded</td>
                            {% endif %}
                            {% if i.post_attachment %}
                                <td><a href="{{i.post_attachment.url}}">Document Attached</a></td>
                            {% else %}
                                <td>No Attachment</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}