{% extends 'base.html' %}



{% block main %}

<div class="row mb-2">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>{{project.project_name}}</h5>
            </div>
            <div class="card-body">
                <p>{{project.project_intro}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form class="form-inline" action="{% url 'new_post' project.project_url %}">
                    <button class="btn btn-info" type="submit">Create New Post</button>
                </form>
                <p></p>
                <form class="form-inline" action="{% url 'add_user_project' project.project_url %}">
                    <button class="btn btn-warning" type="submit">Add Users to Project</button>
                </form>            
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Current Posts</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Post Title</th>
                        <th>Post Details</th>
                        <th>Post Image</th>
                        <th>Post Attachment</th>
                    </tr>
                    {% for i in posts %}
                        <tr>
                            <td><a href="{% url 'view_post' i.post_url %}">{{i.post_title}}</a></td>
                            <td>{{i.post_details}}</td>
                            {% if i.post_image_1 %}
                                <td><img src="{{i.post_image_1.url}}" class="img-fluid"></td>
                            {% else %}
                                <td>No Image Uploaded</td>
                            {% endif %}
                            {% if i.post_attachment %}
                                <td><a href="{{i.post_attachment.url}}">{{i.post_attachment.name}}</a></td>
                            {% else %}
                                <td>No Attachment Uploaded</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
               </table>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Project Users</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                        <tr>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Manage</th>
                            <th>Remove</th>
                        </tr>
                        {% for queryset in users_in_group %}
                            {% for i in queryset %}
                            <tr>
                                <td>{{i.profile.name}}</td>
                                <td>{{i.email}}</td>
                                <td><a class="btn btm-sm btn-info" href=" ">Manage User</a></td>
                                <td><a class="btn btm-sm btn-danger" href=" ">Remove User from Project</a></td>

                            </tr>
                            {% endfor %}
                        {% endfor %}
                </table>            
            </div>
        </div>
    </div>
</div>
{% endblock %}